<template>
  <section class="profile-header">
    <div class="profile__avatar">
      <img class="profile__avatar-img" :src="sharedState.user.avatar" alt="User's avatar">
    </div>
    <h1>Hey there, {{ sharedState.user.username }}</h1>
    <p>What do you want to do here?</p>


    <div class="profile__actions">
      <router-link role="button" to="/todos" class="btn btn-small btn-primary btn-icon">
        <span class="material-icons">navigate_next</span>
        Take me to the Todos!
      </router-link>
      <button class="btn btn-small btn-warning btn-icon" @click="onLogoutClick">
        <span class="material-icons">lock_open</span>
        Logout
      </button>
    </div>

  </section>
</template>

<script>
import { store } from "@/store";

export default {
  name: 'ProfileHeader',
  methods: {
    onLogoutClick() {
      this.$emit('logout')
    }
  },
  data() {
    return {
      sharedState: store.state
    }
  }
}
</script>

<style>
.profile-header {
  margin-bottom: 1em;
}
.profile__actions {
  display: flex;
  margin-top: 1em;
}

.profile__actions .btn:first-child {
  margin-right: .75em;
}

.profile__avatar {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  background-color: var(--col-warning);
  overflow: hidden;
  margin-bottom: 1em;
}

.profile__avatar-img {
  display: block;
  max-width: 100%;
}
</style>
