<template>
  <div class="container">

    <p v-if="loading">Fetching profile...</p>

    <section v-if="!loading">
      <ProfileHeader @logout="handleLogoutClick"/>
      <ProfileForm/>
    </section>

  </div>
</template>

<script>
import { fetchUser } from './profileAPI'
import { store } from "@/store";
import { BASE_USER } from "@/components/Login/loginAPI";
import ProfileHeader from "@/components/Profile/ProfileHeader";
import ProfileForm from "@/components/Profile/ProfileForm";

export default {
  name: 'Profile',
  components: {ProfileForm, ProfileHeader},
  created() {
    this.loading = true
    fetchUser(this.sharedState.user.id)
        .then(user => {
          this.user = user
          this.loading = false
        })
        .catch(e => {
          this.error = e.message
        })
  },
  methods: {
    async handleLogoutClick() {
      if (confirm('Are you sure? 😢')) {
        store.setUser(BASE_USER)
        return this.$router.push('/login')
      }
    }
  },
  data() {
    return {
      error: '',
      loading: true,
      sharedState: store.state
    }
  }
}
</script>

<style>

</style>
