<template>
  <div class="profile-form">
    <h3 class="d-flex">
      <span class="material-icons">info</span>
      Tell us more about yourself
    </h3>

    <br>

    <form>

      <label class="field">
        <span>Age</span>
        <span class="material-icons field-icon">watch_later</span>
        <input class="field-input" type="text" placeholder="How old are you?" v-model="sharedState.user.age">
      </label>

      <label class="field">
        <span>Email address</span>
        <span class="material-icons field-icon">email</span>
        <input class="field-input" type="text" placeholder="Do you have an email?" v-model="sharedState.user.email">
      </label>

      <label class="field">
        <span>Telephone</span>
        <span class="material-icons field-icon">phone</span>
        <input class="field-input" type="text" placeholder="Do you have a phone number?" v-model="sharedState.user.tel">
      </label>

      <label class="field">
        <span>Occupation</span>
        <span class="material-icons field-icon">work</span>
        <input class="field-input" type="text" placeholder="Where do you work?" v-model="sharedState.user.occupation">
      </label>

      <label class="field">
        <span>Address</span>
        <span class="material-icons field-icon">location_pin</span>
        <input class="field-input" type="text" placeholder="What's your address?"
               v-model="sharedState.user.address.line1">
      </label>

      <label class="field">
        <span>Country</span>
        <span class="material-icons field-icon">public</span>
        <input class="field-input" type="text" placeholder="In which country do you live?"
               v-model="sharedState.user.address.country">
      </label>

      <button class="btn btn-secondary btn-icon" @click.prevent="onSaveClick">
        <span class="material-icons">save</span>
        Save
      </button>
    </form>
  </div>
</template>

<script>
import { store } from "@/store";
import { updateUser } from "@/components/Profile/profileAPI";

export default {
  name: 'ProfileForm',
  methods: {
    async onSaveClick() {
      this.loading = true
      try {
        const updatedUser = await updateUser(this.sharedState.user)
        store.setUser(updatedUser)
      } catch (e) {
        this.error = e.message
      } finally {
        this.loading = false
      }
    },
  },
  data() {
    return {
      sharedState: store.state
    }
  }
}
</script>
