<template>
  <header class="todo-header">
    <div class="container">
      <div class="header-content">
        <aside class="header-icon">
          <router-link to="/todos">
            <img class="header-icon__img" src="../../assets/icon-512.png" alt="Icon with list of todos">
          </router-link>

        </aside>
        <div class="header-text">
          <h1 class="title">Todo-<i>ish</i></h1>
          <p class="subtitle">The best Todo app in Norway 🇳🇴</p>
        </div>

        <div class="header-profile" v-if="sharedState.user.username">
          <router-link class="header-profile__link" to="/profile">
            <span class="header-profile__username">{{ sharedState.user.username }}</span>
            <span class="material-icons">account_circle</span>
          </router-link>
        </div>

      </div>
    </div>
  </header>
</template>

<script>
import { store } from "@/store";

export default {
  data() {
    return {
      sharedState: store.state
    }
  }
}
</script>

<style>
.todo-header {
  background-color: var(--col-primary);
  color: var(--col-text-light);
  padding: 1.25em 0;
  margin-bottom: 2em;
  border-bottom: 4px solid var(--col-secondary);
}

.header-content {
  display: flex;
  align-items: center;
}

.header-icon {
  max-width: 55px;
}
.header-icon__img {
  max-width: 100%;
  display: block;
}
.header-text {
  padding: 0 1em;
}
.header-profile {
  margin-left: auto;

}
.header-profile__link {
  display: flex;
  align-items: center;
  color: white;
  font-size: 2em;
  text-decoration: none;
}

.header-profile__link .material-icons {
  font-size: inherit;
  display: block;
}

.header-profile__username {
  font-size: 1rem;
  margin-right: .5rem;
}
</style>
