.btn {
    font-size: 1.15em;
    padding: .75em 1em;
    border: 1px solid #efefef;
    color: var(--col-text-light);
    font-weight: bold;
}

.btn-small {
    font-size: .75em;
}

.btn-primary {
    background-color: var(--col-primary);
}

.btn-secondary {
    background-color: var(--col-secondary);
}

.btn-success {
    background-color: var(--col-success);
    color: var(--col-text-dark);
}

.btn-warning {
    background-color: var(--col-warning);
}

.btn-danger {
    background-color: var(--col-primary);
}

.btn-icon {
    display: flex;
    align-items: center;
}
.btn-icon .material-icons {
    margin-right: .15em;
}
