.field, .field-input {
    display: block;
    font-size: 1em;
}

.field {
    margin-bottom: 1em;
    position: relative;
}

.field-input {
    padding: .5em;
    width: 100%;
}

.field-icon {
    position: absolute;
    left: .3em;
    bottom: .3em;
    color: #a7a7a7;
}

.field-icon + .field-input {
    padding-left: 2.25em;
}
