<template>
  <main class="container">
    <h1>Login</h1>
    <p>Before we start, what's your username?</p>
    <br>
    <form action="">
      <label class="field">
        <span>Your username</span>
        <input class="field-input"
               type="text"
               placeholder="Type your username here..."
               v-model="username">
      </label>
      <button @click.prevent="onLoginClick" class="btn btn-primary">Login</button>
    </form>

    <LoginPromptCreation v-if="promptToCreate" :username="username" @register="handleRegister"/>

  </main>
</template>

<script>
import { store } from '@/store'
import { LoginAPI, register } from "@/components/Login/loginAPI";
import LoginPromptCreation from "@/components/Login/LoginPromptCreation";

export default {
  name: 'Login',
  components: {LoginPromptCreation},
  created() {
    if (store.state.user.username !== '') {
      return this.$router.push('/todos')
    }
  },
  methods: {
    async onLoginClick() {
      try {
        const [ user ] = await LoginAPI.login(this.username)
        if (!user) {
          this.promptToCreate = true
          return
        }
        store.setUser(user)
        await this.$router.push('/todos');
      } catch (e) {
        this.error = e.message;
      }
    },
    async handleRegister() {
      try {
        const user = await register({username: this.username})
        store.setUser(user)
        await this.$router.push('/profile');
      } catch (e) {
        this.error = e.message;
      }
    }
  },
  data() {
    return {
      error: '',
      username: '',
      promptToCreate: false
    }
  }
}
</script>

<style scoped>

</style>
