<template>
  <div class="login-prompt-creation">

    <h4>It appears there is no account for {{ username }}. 😢</h4>
    <p>Do you want to create one now?</p>

    <div class="login-prompt__actions">
      <button class="btn btn-secondary" @click="onRegisterClick">Yes please! 🇳🇴</button>&nbsp;
      <button class="btn btn-warning">No thanks, I can remember everything. 🧠</button>
    </div>

  </div>
</template>

<script>
export default {
  name: 'LoginPromptCreation',
  props: ['username'],
  methods: {
    onRegisterClick() {
      this.$emit('register')
    }
  }
}
</script>

<style scoped>
.login-prompt-creation {
  padding: 1em 0;
}
.login-prompt__actions {
  margin-top: 1em;
}
</style>
