<template>
  <div id="app">
    <TodoHeader />
    <router-view /><!-- Where it renders our components -->
  </div>
</template>

<script>
import TodoHeader from "@/components/TodoHeader/TodoHeader";

export default {
  name: 'App',
  components: {TodoHeader}
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  padding-bottom: 4em;
}
</style>
