<template>
  <div class="container">
    <ul class="todo-list">
      <TodosCreate @create-todo="handleCreateTodo"/>
      <TodosListHeading :title="'Todo'" :items-count="incompleteTodosCount"/>
      <li class="todo-list__all-done" v-show="incompleteTodos == 0">Wow! You're all done! 🤩</li>
      <TodosItem
          v-for="todo of incompleteTodos"
          :key="todo.id"
          :todo="todo"/>
      <TodosListHeading :title="'Completed'" :items-count="completedTodosCount"/>
      <TodosItem
          v-for="todo of completedTodos"
          :key="todo.id"
          :todo="todo"/>
    </ul>

  </div>
</template>

<script>
import TodosItem from './TodosItem'
import TodosCreate from "@/components/Todos/TodosCreate";
import TodosListHeading from './TodosListHeading'
import { store } from "@/store";

export default {
  name: 'Todos',
  components: {
    TodosCreate,
    TodosItem,
    TodosListHeading
  },
  created() {
    store.getTodos().catch(e => {
      this.error = e.message
    })
  },
  computed: {
    completedTodos() {
      return this.sharedState.todos.filter(todo => todo.completed)
    },
    completedTodosCount() {
      return this.completedTodos.length
    },
    incompleteTodos() {
      return this.sharedState.todos.filter(todo => !todo.completed).sort((a, b) => {
        return b.id - a.id
      })
    },
    incompleteTodosCount() {
      return this.incompleteTodos.length
    }
  },
  data() {
    return {
      error: '',
      sharedState: store.state
    }
  },
  methods: {
    handleCreateTodo(todoTitle) {
      store.addTodo(todoTitle).catch(e => {
        this.error = e.message
      })
    }
  }
}
</script>

<style>
.todo-list {
  list-style-type: none;
  padding: 0;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  border-radius: .25em;
  overflow: hidden;
}

.todo-list__all-done {
  padding: 1em;
}

</style>
