<template>
  <div class="actions">
    <div v-show="todo.completed" class="todo-list__item-actions">
      <button class="btn btn-secondary btn-icon" @click="onRestoreClick">
        <span class="material-icons">refresh</span>
      </button>
    </div>
    <div v-show="!todo.completed" class="todo-list__item-actions">
      <button class="btn btn-warning btn-icon" @click="onDeleteClick">
        <span class="material-icons">clear</span>
      </button>
      <button class="btn btn-success btn-icon" @click="onCompleteClick">
        <span class="material-icons">done</span>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TodoItemActions',
  props: [ 'todo' ],
  methods: {
    onCompleteClick() {
      this.$emit('complete')
    },
    onDeleteClick() {
      if (confirm(`Delete ${this.todo.title}, Are you sure?`)) {
        this.$emit('delete')
      }
    },
    onRestoreClick() {
      this.$emit('restore')
    }
  }
}
</script>

<style scoped>
.actions {
  margin-left: auto;
}

.todo-list__item-actions {

  align-self: stretch;
  display: flex;
}
</style>
