<template>
  <li class="todo-list__item" :class="{'completed': todo.completed}">
    <span class="todo-list__item-text">{{ todo.title }}</span>
    <TodoItemActions :todo="todo"
                     @complete="handleComplete"
                     @delete="handleDelete"
                     @restore="handleRestore"/>
  </li>
</template>

<script>
import TodoItemActions from './TodosItemActions'
import { store } from "@/store";

export default {
  name: 'TodosItem',
  props: [ 'todo' ],
  components: {
    TodoItemActions
  },
  methods: {
    handleComplete() {
      store.completeTodo(this.todo.id).catch(e => {
        this.error = e.message
      })
    },
    handleDelete() {
      store.deleteTodo(this.todo.id).catch(e => {
        this.error = e.message
      })
    },
    handleRestore() {
      store.restoreTodo(this.todo.id).catch(e => {
        this.error = e.message
      })
    }
  },
  data() {
    return {
      error: ''
    }
  }
}
</script>


<style>
.todo-list__item {
  display: flex;
  border-bottom: 1px solid #efefef;
}

.todo-list__item:last-child {
  border-bottom: none;
}

.todo-list__item-text {
  padding: 0.75em;
}

.todo-list__item.completed .todo-list__item-text {
  text-decoration: line-through;
}
</style>
