<template>
  <li class="todo-list__heading">
    <h4>{{ title }} ({{itemsCount}})</h4>
  </li>
</template>

<script>
export default {
  name: 'TodosListHeading',
  props: ['title', 'itemsCount']
}
</script>

<style scoped>
.todo-list__heading {
  padding: 1em;
  background-color: #efefef;
  display: flex;
  align-items: center;
}
.btn-hide-completed {
  margin-left: auto;
}
</style>
