<template>
  <div class="todos-create__container">
    <li class="todos-create">
      <input class="todos-create__input" type="text" placeholder="Enter todo title" v-model="todoTitle">
      <button class="btn btn-secondary btn-icon" @click="onTodoCreateClick">
        <span class="material-icons">add_circle</span>
      </button>
    </li>
    <li v-if="error">{{ error }}</li>
  </div>

</template>

<script>
export default {
  name: 'TodosCreate',
  methods: {
    onTodoCreateClick() {
      this.error = ''

      if (!this.todoTitle.trim().length > 0) {
        this.error = 'Please enter something first :( '
        return
      }

      this.$emit('create-todo', this.todoTitle)
      this.todoTitle = ''
    }
  },
  data() {
    return {
      error: '',
      todoTitle: ''
    }
  }
}
</script>

<style>
.todos-create {
  display: flex;
}
.todos-create__input {
  padding: 1em;
  font-size: 1.25em;
  width: 100%;
  border: none;
  border-bottom: 1px solid #efefef;
}
.todos-create__input:focus{
  background-color: var(--col-primary);
  color: var(--col-text-light);
  outline: transparent;
}
.todos-create__input:focus::placeholder {
  color: #e9e9e9;
}
</style>
